.crisp-header-container {
  width: 100%;
}

.crisp-header-banner {
  width: 80%;
  margin: 0 auto;
}

.crisp-header-banner img {
  width: 100%;
  margin-top: 1rem;
}

.crisp-header-content {
  width: 80%;
  margin: 4rem auto;
  text-align: center;
}

.crisp-header-content p {
  font-size: 20px;
  color: #27187e;
  line-height: 28px;
}

/* ----------------------- Responsive --------------- */
@media (max-width: 1440px) {
  .crisp-header-banner,
  .crisp-header-content {
    width: 85%;
  }
}
@media (max-width: 1024px) {
  .crisp-header-banner,
  .crisp-header-content {
    width: 95%;
  }
}
@media (max-width: 800px) {
  .crisp-header-content {
    margin: 2rem auto;
  }

  .crisp-header-content p {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 500px) {
  .crisp-header-banner {
    width: 100%;
  }

  .crisp-header-banner img {
    margin-top: 0;
  }
}
