.td-container {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
}

.td-header {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.td-header h4 {
  font-size: 2rem;
  color: #fdc703;
}

.td-header h1 {
  font-size: 2.5rem;
  padding: 1rem 0;
}

.td-header span {
  color: #029e9d;
}

.td-header p {
  font-size: 18px;
  line-height: 24px;
}

.td-card {
  position: absolute;
  margin-top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 400px;
  box-shadow: 0 30px 50px #dbdbdb;
  border-radius: 20px;
}

.td-slide .td-item {
  width: 200px;
  height: 250px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: all 0.5s;
}

.td-slide .td-item:nth-child(1),
.td-slide .td-item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: all 0.5s;
}

.td-slide .td-item:nth-child(3) {
  left: 52%;
}
.td-slide .td-item:nth-child(4) {
  left: calc(52% + 220px);
}
.td-slide .td-item:nth-child(5) {
  left: calc(50% + 440px);
}

.td-slide .td-item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.td-item .td-content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  display: none;
}

.td-slide .td-item:nth-child(2) .td-content {
  display: block;
}

.td-name {
  display: inline;
  padding: 4px 8px;
  border-radius: 10px;
  background-color: #2d2d2d;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.td-des {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 10px;
  background-color: #2d2d2d;
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

/* .td-content button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.td-content button:hover {
  transform: scale(1.2);
} */

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.td-button {
  display: flex;
  flex-direction: row;
  gap: 20px;
  left: 45%;
  right: 50%;
  width: 120px;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.td-button button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  transition: 0.3s;
  color: #000000;
  background-color: rgb(255, 255, 255);
}

.td-button button:hover {
  transform: scale(1.1);
}

.td-button button:focus {
  transform: scale(1.1);
}

.td-button button:active {
  transform: scale(1.02);
}

.next {
  padding: 0 0 0 3px;
}
.prev {
  padding: 0 3px 0 0;
}

/* ------------------------ Responsive Design --------------- */
@media (max-width: 1024px) {
  .td-container {
    height: 750px;
  }

  .td-card {
    width: 680px;
    height: 350px;
    margin-top: 250px;
  }

  .td-slide .td-item {
    width: 180px;
    height: 200px;
  }

  .td-item .td-content {
    left: 50px;
  }
}

@media (max-width: 868px) {
  .td-container {
    height: 850px;
  }

  .td-header {
    width: 95%;
  }

  .td-card {
    width: 90%;
    height: 400px;
    margin-top: 320px;
  }

  .td-slide .td-item {
    top: 0;
    transform: translate(-110%, -50%);
    width: 180px;
    height: 180px;
  }

  .td-item .td-content {
    top: 55%;
  }
}

@media (max-width: 728px) {
  .td-container {
    height: 900px;
  }
}

@media (max-width: 500px) {
  .td-container {
    height: 850px;
  }

  .td-header h4 {
    font-size: 1.5rem;
    color: #fdc703;
  }

  .td-header h1 {
    font-size: 2rem;
  }

  .td-card {
    width: 95%;
  }

  .td-slide .td-item {
    width: 120px;
    height: 120px;
    transform: translate(-150%, -50%);
  }

  .td-item .td-content {
    top: 50%;
  }

  .td-slide .td-item:nth-child(3) {
    left: 55%;
  }
  .td-slide .td-item:nth-child(4) {
    left: calc(50% + 45%);
  }
}
