.btr-container {
  width: 100%;
  padding: 5rem 0;
  align-content: center;
}

.btr-heading {
  font-size: 48px;
  text-align: center;
}

.btr-cards {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

.btr-image {
  width: 48%;
}

.btr-image img {
  width: 100%;
}

.btr-content {
  width: 48%;
  align-content: center;
}

.btr-content h2 {
  font-size: 24px;
}

.btr-content p {
  font-size: 20px;
  line-height: 28px;
  margin: 1.5rem 0;
}

/* -------------------------- Responsive Style -------------------------- */

@media (max-width: 1440px) {
  .btr-cards {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .btr-cards {
    width: 95%;
  }
}

@media (max-width: 800px) {
  .btr-container {
    padding: 2.5rem 0;
  }

  .btr-heading {
    font-size: 40px;
  }

  .btr-cards {
    flex-wrap: wrap;
  }

  .btr-image {
    width: 100%;
    margin-bottom: 2rem;
  }

  .btr-content {
    width: 100%;
  }

  .btr-content p {
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  .btr-heading {
    font-size: 32px;
  }
}
