.crheader-banner {
  width: 100%;
}

.crheader-banner img {
  width: 100%;
}

.crheader-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #27187e;
  padding-top: 4rem;
}

.crheader-content h1 {
  font-size: 48px;
}

.crheader-content p {
  font-size: 20px;
  line-height: 28px;
  margin: 1.5rem 0;
}

.crheader-content a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  color: #e35336;
  border: 2px solid #e35336;
  background-color: transparent;
  cursor: pointer;
}

.crheader-content a:hover {
  color: #f1f2f6;
  background-color: #e35336;
}

/* -------------------------- Responsive Style -------------------------- */

@media (max-width: 1440px) {
  .crheader-content {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .crheader-content {
    width: 95%;
  }

  .crheader-content h1 {
    font-size: 40px;
  }
}

@media (max-width: 800px) {
  .crheader-content {
    padding-top: 2.5rem;
  }

  .crheader-content h1 {
    font-size: 32px;
  }

  .crheader-content p {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 500px) {
  .crheader-content h1 {
    font-size: 28px;
  }
}
