.not-found-page {
  width: 100%;
  height: 90vh;
  background: #fff;
  align-content: center;
}

.not-found-page-container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.four-zero-four h1 {
  font-size: 120px;
  text-align: center;
}

.not-found-page-content {
  text-align: center;
  margin-bottom: 4rem;
  padding: 0 1rem;
}

.not-found-page-content h3 {
  font-size: 32px;
}

.not-found-page-content p {
  font-size: 20px;
  margin-bottom: 2rem;
}

.not-found-page-btn {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  color: #ff8600;
  border: 2px solid #ff8600;
  background-color: transparent;
  cursor: pointer;
}

.not-found-page-btn:hover {
  color: #ffffff;
  background-color: #ff8600;
}

/* -------------------------- Responsive Style -------------------------- */

@media (max-width: 1024px) {
  .not-found-page-container {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .not-found-page-container {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .four-zero-four h1 {
    font-size: 80px;
  }

  .not-found-page-content h3 {
    font-size: 24px;
  }

  .not-found-page-content p {
    font-size: 18px;
  }
}
