.adventures-container {
  width: 100%;
  background: #800020;
}

.adventures-header {
  width: 60%;
  margin: 0 auto;
  padding: 4rem 1rem;
  text-align: center;
}

.adventures-header h4 {
  font-size: 2rem;
  color: #fdc703;
}

.adventures-header h1 {
  font-size: 2.5rem;
  padding: 1rem 0;
  color: #ffffff;
}

.adventures-header span {
  color: #00dada;
}

.adventures-cards {
  width: 70%;
  margin: 0 auto;
  gap: 40px 0;
}

.adventures-card {
  position: sticky;
  top: 0;
}

.adventures-card__inner {
  will-change: transform;
  background: white;
  border-radius: 14px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 25px 50px -12px hsla(265.3, 20%, 10%, 35%);
  transform-origin: center top;
  margin-top: 2.5rem;
}

.adventures-card__image-container {
  display: flex;
  width: 40%;
  flex-shrink: 0;
}

.adventures-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.adventures-card__content {
  padding: 0 20px;
  color: #16263a;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adventures-card__title {
  font-size: 28px;
  padding: 1rem 0;
}

.adventures-card__sub_title {
  font-size: 24px;
  font-weight: 500;
}

.adventures-card__description {
  line-height: 1.4;
  font-size: 18px;
  padding: 1rem 0;
}

.adventures-space-bottom {
  height: 8rem;
}

@media (max-width: 1440px) {
  .adventures-cards {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .adventures-shape-image {
    margin-bottom: 0px;
  }

  .adventures-header {
    width: 90%;
  }

  .adventures-cards {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .adventures-header h4 {
    font-size: 1.5rem;
  }

  .adventures-header h1 {
    font-size: 2rem;
  }

  .adventures-cards {
    width: 95%;
  }

  .adventures-card__inner {
    flex-wrap: wrap;
  }

  .adventures-card__image-container {
    width: 100%;
  }
}
