.text-clip-section {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes scroll-background {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0% 0;
  }
}

.clipped-text {
  font-size: 150px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  background-image: url("../../assets/images/crash-course-image1.jpg");
  background-size: 150% auto;
  background-position: center;
  /* background-attachment: fixed; */
  animation: scroll-background 15s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.1);
  line-height: 1;
}

/* ------------------------ Responsive style ------------------- */
@media (max-width: 1024px) {
  .clipped-text {
    font-size: 120px;
  }
}

@media (max-width: 800px) {
  .clipped-text {
    font-size: 80px;
  }
}

@media (max-width: 500px) {
  .clipped-text {
    font-size: 50px;
  }
}
