.subjects-container {
  width: 100%;
  padding: 5rem 0;
  background-image: url("../../assets/images/subjects.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subjects-card {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  padding: 4rem;
  border-radius: 10px;
}

.subjects-card h1 {
  font-size: 48px;
  color: #27187e;
}

.subjects-card p {
  font-size: 20px;
  line-height: 28px;
}

.subjects-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 2.5rem 0;
  gap: 20px;
  text-align: left;
}

.subjects-list a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #27187e;
  background-color: #c5cdff;
  padding: 8px 16px;
  border-radius: 10px;
}

.subjects-btn {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  color: #e35336;
  border: 2px solid #e35336;
  background-color: transparent;
  cursor: pointer;
}

.subjects-btn:hover {
  color: #ffffff;
  background-color: #e35336;
}

/* -------------------------- Responsive Style -------------------------- */

@media (max-width: 1440px) {
  .subjects-card {
    width: 85%;
    padding: 2rem;
  }

  .subjects-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1024px) {
  .subjects-card {
    width: 95%;
  }

  .subjects-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .subjects-container {
    padding: 2.5rem 0;
  }

  .subjects-card {
    padding: 2rem 1rem;
  }

  .subjects-card h1 {
    font-size: 40px;
  }

  .subjects-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .subjects-card h1 {
    font-size: 32px;
  }

  .subjects-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
