.bootcamp-container {
  width: 100%;
}

.bootcamp-banner {
  width: 100%;
}

.bootcamp-banner img {
  width: 100%;
}

.bootcamp-header {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 4rem 0;
  color: #27187e;
}

.bootcamp-header h1 {
  font-size: 48px;
}

.bootcamp-header h3 {
  font-size: 24px;
  margin-top: 10px;
}

.bootcamp-header p {
  font-size: 20px;
  line-height: 28px;
  margin: 1rem 0 2rem 0;
}

.bootcamp-header a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  color: #e35336;
  border: 2px solid #e35336;
  background-color: transparent;
  cursor: pointer;
}

.bootcamp-header a:hover {
  color: #f1f2f6;
  background-color: #e35336;
}

.bootcamp-high {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  background-color: #27187e;
  border-radius: 16px;
}

.bootcamp-high-image {
  width: 50%;
  text-align: center;
}

.bootcamp-high-image img {
  width: 80%;
  border-radius: 16px;
}

.bootcamp-high-content {
  width: 50%;
  align-content: center;
  padding: 1rem;
}

.bootcamp-high-content h1 {
  font-size: 40px;
  color: #f1f2f6;
}

.bootcamp-high-content ul {
  font-size: 18px;
  line-height: 28px;
  margin: 1rem;
  list-style: none;
  padding: 0;
}

.bootcamp-high-content ul li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 8px;
  color: #f1f2f6;
}

.bootcamp-high-content ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;
  color: #28a745;
  font-size: 18px;
}

.bootcamp-high-content p {
  font-size: 20px;
  color: #ffffff;
}

.bootcamp-points {
  width: 80%;
  margin: 2.5rem auto;
  align-content: center;
  padding: 2rem 1rem;
  border-radius: 16px;
}

.bootcamp-points h1 {
  font-size: 40px;
  color: #27187e;
}

.bootcamp-points ul {
  font-size: 20px;
  line-height: 28px;
  margin: 1rem;
  list-style: none;
  padding: 0;
}

.bootcamp-points ul li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 8px;
  color: #27187e;
}

.bootcamp-points ul li::before {
  content: "★";
  position: absolute;
  left: 0;
  top: 0;
  color: #28a745;
  font-size: 22px;
}

/* -------------------------- Responsive Styles -------------------------- */

@media (max-width: 1440px) {
  .bootcamp-header,
  .bootcamp-high,
  .bootcamp-points {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .bootcamp-header,
  .bootcamp-high,
  .bootcamp-points {
    width: 95%;
  }

  .bootcamp-header h1 {
    font-size: 40px;
  }

  .bootcamp-header h3 {
    font-size: 22px;
  }

  .bootcamp-header p {
    font-size: 18px;
  }

  .bootcamp-high-content h1,
  .bootcamp-points h1 {
    font-size: 32px;
  }
}

@media (max-width: 800px) {
  .bootcamp-header h1,
  .bootcamp-points h1 {
    font-size: 32px;
  }

  .bootcamp-header h3 {
    font-size: 20px;
  }

  .bootcamp-high {
    padding: 1rem;
  }

  .bootcamp-high-image,
  .bootcamp-high-content {
    width: 100%;
  }

  .bootcamp-high-content {
    padding: 1rem 0;
  }

  .bootcamp-high-content ul {
    margin: 1rem 0;
  }

  .bootcamp-high-image img {
    width: 100%;
  }

  .bootcamp-high-content h1,
  .bootcamp-points h1 {
    font-size: 28px;
  }

  .bootcamp-points ul {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .bootcamp-header {
    padding: 2rem 0;
  }

  .bootcamp-points ul {
    margin: 1rem 0;
  }

  .bootcamp-header h1 {
    font-size: 28px;
  }

  .bootcamp-header h3 {
    font-size: 18px;
  }

  .bootcamp-high-content h1,
  .bootcamp-points h1 {
    font-size: 24px;
  }
}
