.story-container {
  width: 100%;
  height: 105vh;
  padding-top: 4rem;
}

.story-header {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.story-header h2 {
  font-size: 40px;
  padding: 1rem 0;
  color: #27187e;
}

.story-card {
  position: absolute;
  margin-top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 600px;
  box-shadow: 0 30px 50px #dbdbdb;
  border-radius: 20px;
  overflow: hidden;
}

.story-slide .story-item {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  transform: translate(25%, -50%);
  border-radius: 20px;
  box-shadow: 0 10px 20px #505050;
  display: inline-block;
  transition: all 0.5s;
  overflow: hidden;
}

.story-slide .story-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.story-slide .story-item:nth-child(1),
.story-slide .story-item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: all 0.5s;
}

.story-slide .story-item:nth-child(3) {
  left: 52%;
}
.story-slide .story-item:nth-child(4) {
  left: calc(52% + 220px);
}
.story-slide .story-item:nth-child(5) {
  left: calc(50% + 440px);
}

.story-slide .story-item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.story-item .story-content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 350px;
  text-align: left;
  color: #27187e;
  transform: translate(0, -50%);
  display: none;
}

.story-slide .story-item:nth-child(2) .story-content {
  display: block;
}

.story-name {
  display: inline;
  padding: 4px 8px;
  border-radius: 10px;
  background-color: #f1f2f6;
  font-size: 32px;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out forwards;
  border: 1px solid;
}

.story-des {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 10px;
  background-color: #f1f2f6;
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s forwards;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.story-button {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  left: 45%;
}

.story-button button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  background-color: #fff;
}

.story-button button:hover,
.story-button button:focus {
  transform: scale(1.1);
}

.story-button button:active {
  transform: scale(1.02);
}

/* ---------------- Responsive ---------------- */

@media (max-width: 1024px) {
  .story-container {
    height: 750px;
  }

  .story-card {
    width: 700px;
    height: 400px;
    margin-top: 250px;
  }

  .story-slide .story-item {
    width: 180px;
    height: 200px;
  }

  .story-item .story-content {
    left: 50px;
  }
}

@media (max-width: 868px) {
  .story-header h2 {
    font-size: 32px;
  }

  .story-container {
    height: 850px;
  }

  .story-header {
    width: 95%;
  }

  .story-card {
    width: 90%;
    height: 400px;
    margin-top: 320px;
  }

  .story-slide .story-item {
    transform: translate(-110%, -50%);
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 500px) {
  .story-header h2 {
    font-size: 24px;
  }

  .story-card {
    width: 95%;
  }

  .story-slide .story-item {
    width: 120px;
    height: 120px;
    transform: translate(-150%, -50%);
  }
}
