.crash-course-container {
  width: 100%;
  padding-bottom: 2rem;
}

.crash-course-banner {
  width: 100%;
}

.crash-course-banner img {
  width: 100%;
}

.crash-course-header {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 4rem 0 2rem 0;
  color: #27187e;
}

.crash-course-header h1 {
  font-size: 48px;
}

.crash-course-header h3 {
  font-size: 24px;
  margin-top: 10px;
}

.crash-course-header p {
  font-size: 20px;
  line-height: 28px;
  margin: 1rem 0 2rem 0;
}

.crash-course-typeWriter {
  font-size: 24px;
  color: #e35336;
  margin-bottom: 2rem;
  transition: opacity 1s ease-in-out, transform 1s ease; /* slow animation */
  opacity: 1;
}

/* .crash-course-header a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  color: #e35336;
  border: 2px solid #e35336;
  background-color: transparent;
  cursor: pointer;
}

.crash-course-header a:hover {
  color: #f1f2f6;
  background-color: #e35336;
} */

.crash-course-high {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 2rem 1rem;
  background-color: #27187e;
  border-radius: 16px;
}

.crash-course-high-content {
  width: 50%;
  align-content: center;
  padding: 1rem;
}

.crash-course-high-content h1 {
  font-size: 40px;
  color: #f1f2f6;
}

.crash-course-high-content ul {
  font-size: 18px;
  line-height: 28px;
  margin: 1rem;
  list-style: none;
  padding: 0;
}

.crash-course-high-content ul li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 8px;
  color: #f1f2f6;
}

.crash-course-high-content ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;
  color: #28a745;
  font-size: 18px;
}

.crash-course-high-image {
  width: 50%;
}

.crash-course-high-image img {
  width: 100%;
  border-radius: 16px;
}

/* -------------------------- Responsive Styles -------------------------- */

@media (max-width: 1440px) {
  .crash-course-header,
  .crash-course-high {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .crash-course-header,
  .crash-course-high {
    width: 95%;
  }

  .crash-course-header h1 {
    font-size: 40px;
  }

  .crash-course-header h3 {
    font-size: 22px;
  }

  .crash-course-header p {
    font-size: 18px;
  }

  .crash-course-high-content h1 {
    font-size: 32px;
  }
}

@media (max-width: 800px) {
  .crash-course-header h1 {
    font-size: 32px;
  }

  .crash-course-header h3 {
    font-size: 20px;
  }

  .crash-course-high {
    padding: 1rem;
  }

  .crash-course-high-image,
  .crash-course-high-content {
    width: 100%;
  }

  .crash-course-high-content {
    padding: 1rem 0;
  }

  .crash-course-high-content ul {
    margin: 1rem 0;
  }

  .crash-course-high-image img {
    width: 100%;
  }

  .crash-course-high-content h1,
  .crash-course-points h1 {
    font-size: 28px;
  }
}

@media (max-width: 500px) {
  .crash-course-header {
    padding: 2rem 0;
  }

  .crash-course-points ul {
    margin: 1rem 0;
  }

  .crash-course-header h1 {
    font-size: 28px;
  }

  .crash-course-header h3 {
    font-size: 18px;
  }

  .crash-course-high-content h1 {
    font-size: 24px;
  }
}
