.header-container {
  width: 100%;
}

.upper-header {
  width: 80%;
  margin: 4rem auto;
  text-align: center;
}

.upper-header h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 2rem;
  color: #27187e;
}

.upper-header a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  color: #ff8600;
  border: 2px solid #ff8600;
  background-color: transparent;
  cursor: pointer;
}

.upper-header a:hover {
  color: #ffffff;
  background-color: #ff8600;
}

.lower-header {
  width: 100%;
  background-color: #27187e;
}

.header-main {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.header-content {
  width: 60%;
  align-content: center;
  padding-right: 2rem;
  color: #ffffff;
}

.header-content h4 {
  font-size: 22px;
  margin-bottom: 1rem;
}

.header-content h2 {
  font-size: 48px;
}

.header-content h3 {
  font-size: 22px;
  font-weight: 500;
}

.header-content p {
  font-size: 18px;
  line-height: 26px;
  margin: 1.5rem 0;
}

.header-content a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  color: #ff8600;
  border: 2px solid #ff8600;
  background-color: transparent;
  cursor: pointer;
}

.header-content a:hover {
  color: #ffffff;
  background-color: #ff8600;
}

.header-content h5 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.header-content h6 {
  font-size: 22px;
  margin-bottom: 2rem;
  transition:
    opacity 1s ease-in-out,
    transform 1s ease;
  opacity: 1;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.fade-out {
  opacity: 0;
  transform: translateY(-10px);
}

.header-image {
  width: 40%;
  position: relative;
}

.hero-img {
  display: none;
  width: 80%;
  height: 100%;
  margin: auto;
}

.hero-img.active {
  display: block;
}

/* -------------------------- Responsive Style -------------------------- */

@media (max-width: 1440px) {
  .upper-header,
  .header-main {
    width: 85%;
  }

  .header-content {
    padding: 1rem 2rem 1rem 0;
  }

  .hero-img {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .upper-header,
  .header-main {
    width: 95%;
  }

  .hero-img {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .upper-header h2 {
    font-size: 24px;
  }

  .header-main {
    flex-wrap: wrap;
    padding: 1rem 1rem 0 1rem;
    margin-top: 2rem;
  }

  .header-content {
    width: 100%;
    padding: 2rem 0;
  }

  .header-image {
    width: 100%;
  }

  .hero-img.active {
    width: 60%;
    margin: 0 auto;
  }

  .header-content h3 {
    font-size: 40px;
  }

  .header-content h3,
  .header-content h4,
  .header-typeWriter {
    font-size: 20px;
  }

  .header-content p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 500px) {
  .upper-header h2 {
    font-size: 22px;
    line-height: 28px;
  }

  .header-content h3 {
    font-size: 32px;
  }

  .hero-img.active {
    width: 100%;
    margin: 0 auto;
  }
}
