.header-container {
  width: 100%;
}

.upper-header {
  width: 80%;
  margin: 4rem auto;
  text-align: center;
}

.upper-header h1 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 2rem;
}

.upper-header a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  color: #e35336;
  border: 2px solid #e35336;
  background-color: transparent;
  cursor: pointer;
}

.upper-header a:hover {
  color: #ffffff;
  background-color: #e35336;
}

.lower-header {
  width: 100%;
  /* background-color: #dcebff; */
  background-color: #aeb8fe;
}

.header-main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 2rem 0;
}

.header-content {
  width: 50%;
  align-content: center;
  padding-right: 2rem;
  /* color: #ffffff; */
}

.header-content h3 {
  font-size: 22px;
  /* color: #006eff; */
  color: #27187e;
  margin-bottom: 1rem;
}

.header-content h1 {
  font-size: 48px;
}

.header-content h2 {
  font-size: 22px;
}

.header-content p {
  font-size: 20px;
  line-height: 28px;
  margin: 1.5rem 0;
}

.header-content a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  color: #e35336;
  /* border: 2px solid #e35336; */
  border: 2px solid #e35336;
  /* border: 2px solid #ffffff; */
  /* background-color: #ffffff; */
  background-color: transparent;
  cursor: pointer;
}

.header-content a:hover {
  color: #ffffff;
  background-color: #e35336;
}

.header-content h5 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.header-typeWriter {
  font-size: 24px;
  /* color: #00dada; */
  /* color: #006eff; */
  color: #27187e;
  margin-bottom: 2rem;
  transition: opacity 1s ease-in-out, transform 1s ease; /* slow animation */
  opacity: 1;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.fade-out {
  opacity: 0;
  transform: translateY(-10px);
}

.header-image {
  width: 50%;
}

.header-image img {
  width: 100%;
}

/* -------------------------- Responsive Style -------------------------- */

@media (max-width: 1440px) {
  .upper-header,
  .header-main {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .upper-header,
  .header-main {
    width: 95%;
  }
}

@media (max-width: 800px) {
  .upper-header h1 {
    font-size: 24px;
  }

  .header-main {
    flex-wrap: wrap-reverse;
    padding: 1rem 0;
    margin-top: 2rem;
  }

  .header-content {
    width: 100%;
    padding: 2rem 0;
  }

  .header-image {
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
  }

  .header-image img {
    width: 80%;
  }

  .header-content h1 {
    font-size: 40px;
  }

  .header-content h2,
  .header-content h3,
  .header-typeWriter {
    font-size: 20px;
  }

  .header-content p {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 500px) {
  .upper-header h1 {
    font-size: 22px;
    line-height: 28px;
  }

  .header-content h1 {
    font-size: 32px;
  }
}
