.header-container {
  width: 100%;
}

.upper-header {
  width: 80%;
  margin: 4rem auto;
  text-align: center;
}

.upper-header h1 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 2rem;
  color: #27187e;
}

.upper-header a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  color: #ff8600;
  border: 2px solid #ff8600;
  background-color: transparent;
  cursor: pointer;
}

.upper-header a:hover {
  color: #ffffff;
  background-color: #ff8600;
}

.lower-header {
  width: 100%;
  background-color: #27187e;
}

.header-main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 2rem 0;
}

.header-content {
  width: 50%;
  align-content: center;
  padding-right: 2rem;
  color: #f1f2f6;
}

.header-content h3 {
  font-size: 22px;
  margin-bottom: 1rem;
}

.header-content h1 {
  font-size: 48px;
}

.header-content h2 {
  font-size: 22px;
}

.header-content p {
  font-size: 20px;
  line-height: 28px;
  margin: 1.5rem 0;
}

.header-content a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  color: #ff8600;
  border: 2px solid #ff8600;
  background-color: transparent;
  cursor: pointer;
}

.header-content a:hover {
  color: #ffffff;
  background-color: #ff8600;
}

.header-content h5 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.header-typeWriter {
  font-size: 24px;
  color: #f1f2f6;
  margin-bottom: 2rem;
  transition: opacity 1s ease-in-out, transform 1s ease; /* slow animation */
  opacity: 1;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.fade-out {
  opacity: 0;
  transform: translateY(-10px);
}

/* .header-image {
  width: 50%;
  position: relative;
  height: 100%;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.hero-img.active {
  opacity: 1;
  transform: translateY(0);
  position: relative;
} */

.header-image {
  width: 50%;
  position: relative;
}

.hero-img {
  display: none;
  width: 100%;
}

.hero-img.active {
  display: block;
}

/* -------------------------- Responsive Style -------------------------- */

@media (max-width: 1440px) {
  .upper-header,
  .header-main {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .upper-header,
  .header-main {
    width: 95%;
  }
}

@media (max-width: 800px) {
  .upper-header h1 {
    font-size: 24px;
  }

  .header-main {
    flex-wrap: wrap-reverse;
    padding: 1rem 0;
    margin-top: 2rem;
  }

  .header-content {
    width: 100%;
    padding: 2rem 0;
  }

  .header-image {
    width: 100%;
    margin-bottom: 2rem;
  }

  .hero-img.active {
    width: 80%;
    margin: 0 auto;
  }

  .header-content h1 {
    font-size: 40px;
  }

  .header-content h2,
  .header-content h3,
  .header-typeWriter {
    font-size: 20px;
  }

  .header-content p {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 500px) {
  .upper-header h1 {
    font-size: 22px;
    line-height: 28px;
  }

  .header-content h1 {
    font-size: 32px;
  }
}
