.header-container {
  width: 100%;
}

.header-container button {
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  color: #e35336;
  border: 2px solid #e35336;
  background-color: transparent;
  cursor: pointer;
}

.header-container button:hover {
  color: #ffffff;
  background-color: #e35336;
}

.upper-header {
  width: 80%;
  margin: 4rem auto;
  text-align: center;
}

.upper-header h1 {
  font-size: 28px;
  line-height: 36px;
}

.lower-header {
  width: 100%;
  background-color: #dcebff;
}

.header-main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-top: 10rem;
  padding: 2rem 0;
}

.header-content {
  width: 50%;
  align-content: center;
  padding-right: 2rem;
}

.header-content h3 {
  font-size: 22px;
  color: #006eff;
}

.header-content h1 {
  font-size: 48px;
  margin: -1rem 0 -1.5rem 0;
}

.header-content h2 {
  font-size: 22px;
}

.header-content p {
  font-size: 20px;
  line-height: 28px;
}

.header-typeWriter {
  font-size: 24px;
  color: #006eff;
  margin: 0 0 1rem 0;
}

.header-image {
  width: 50%;
}

.header-image img {
  width: 100%;
  height: 800px;
  margin-top: -150px;
  margin-bottom: -50px;
}

/* -------------------------- Responsive Style -------------------------- */

@media (max-width: 1440px) {
  .header-image img {
    height: 700px;
  }

  .upper-header,
  .header-main {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .header-image img {
    height: 700px;
  }

  .upper-header,
  .header-main {
    width: 95%;
  }
}

@media (max-width: 800px) {
  .upper-header h1 {
    font-size: 24px;
  }

  .header-main {
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: 2rem;
  }

  .header-content,
  .header-image {
    width: 100%;
  }

  .header-content h1 {
    font-size: 40px;
  }

  .header-content h2,
  .header-content h3,
  .header-typeWriter {
    font-size: 20px;
  }

  .header-content p {
    font-size: 18px;
    line-height: 24px;
  }

  .header-image img {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

@media (max-width: 500px) {
  .upper-header h1 {
    font-size: 22px;
    line-height: 28px;
  }

  .header-content h1 {
    font-size: 32px;
  }
}
