.crisp-edition-container {
  width: 100%;
}

.crisp-edition-high {
  width: 80%;
  margin: 0 auto;
  align-content: center;
  padding: 2rem 1rem;
  background-color: #27187e;
  border-radius: 16px;
}

.crisp-edition-high h2 {
  font-size: 40px;
  color: #f1f2f6;
}

.crisp-edition-high h3 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 1rem;
  color: #f1f2f6;
  line-height: 28px;
}

.crisp-edition-high ul {
  font-size: 18px;
  line-height: 28px;
  margin: 1rem;
  list-style: none;
  padding: 0;
}

.crisp-edition-high ul li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 8px;
  color: #f1f2f6;
}

.crisp-edition-high ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;
  color: #28a745;
  font-size: 18px;
}

.crisp-edition-cards {
  width: 80%;
  margin: 2.5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.crisp-edition-cards h1 {
  font-size: 40px;
  text-align: center;
  color: #27187e;
}

.crisp-edition-card {
  width: 48%;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 16px;
  text-align: center;
  color: #27187e;
  box-shadow:
    inset 0 0.361px 0.181px -1.25px rgba(0, 0, 0, 0.18),
    inset 0 1.373px 0.687px -2.5px rgba(0, 0, 0, 0.16),
    inset 0 6px 3px -3.75px rgba(0, 0, 0, 0.06),
    inset 0 0.422px 0.422px -1.25px hsla(0, 0%, 100%, 0.18),
    inset 0 1.602px 1.602px -2.5px hsla(0, 0%, 100%, 0.16),
    inset 0 7px 7px -3.75px hsla(0, 0%, 100%, 0.06),
    0 0.652px 0.652px -0.2px rgba(0, 0, 0, 0.02),
    0 1.776px 1.776px -0.4px rgba(0, 0, 0, 0.02),
    0 3.899px 3.899px -0.6px rgba(0, 0, 0, 0.03),
    0 8.655px 8.655px -0.8px rgba(0, 0, 0, 0.04),
    0 22px 22px -1px rgba(0, 0, 0, 0.08);
}

.crisp-edition-card-image {
  width: 100%;
  margin-bottom: 2rem;
}

.crisp-edition-card-image img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.crisp-edition-card h3 {
  font-size: 24px;
}

.crisp-edition-card h4 {
  font-size: 22px;
  margin: 1rem 0 2rem 0;
}

.crisp-edition-card a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  color: #e35336;
  border: 2px solid #e35336;
  background-color: transparent;
  cursor: pointer;
}

.crisp-edition-card a:hover {
  color: #f1f2f6;
  background-color: #e35336;
}

/* ----------------------- Responsive --------------- */
@media (max-width: 1440px) {
  .crisp-edition-high,
  .crisp-edition-cards {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .crisp-edition-high,
  .crisp-edition-cards {
    width: 95%;
  }
}
@media (max-width: 800px) {
  .crisp-edition-high h2,
  .crisp-edition-cards h1 {
    font-size: 32px;
  }

  .crisp-edition-card {
    padding: 2rem 1rem;
  }

  .crisp-edition-card h3 {
    font-size: 22px;
  }

  .crisp-edition-card h4 {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .crisp-edition-high h2,
  .crisp-edition-cards h1 {
    font-size: 28px;
  }

  .crisp-edition-high h3 {
    font-size: 22px;
  }

  .crisp-edition-high ul {
    margin: 1rem 0;
  }

  .crisp-edition-card {
    width: 100%;
  }
}
