.intro-video-container {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 9999;
}

.intro-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* -------------------------- Responsive Style -------------------------- */

@media (max-width: 500px) {
  .intro-video {
    object-fit: contain;
  }
}
