:root {
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji", sans-serif;
}

body {
  font-family: var(--font-sans);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
