.about-btr-container {
  width: 100%;
  align-content: center;
}

.about-btr-heading {
  font-size: 40px;
  color: #27187e;
}

.about-btr-cards {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.about-btr-image {
  width: 58%;
}

.about-btr-image img {
  width: 100%;
  margin-bottom: -5px;
}

.about-btr-content {
  width: 40%;
  align-content: center;
  color: #27187e;
  padding: 1rem 0 2rem 0;
}

.about-btr-content h2 {
  font-size: 24px;
  font-weight: 500;
}

.about-btr-content p {
  font-size: 20px;
  line-height: 28px;
  margin: 1.5rem 0;
}

.about-btr-content a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  color: #ff8600;
  border: 2px solid #ff8600;
  background-color: transparent;
  cursor: pointer;
}

.about-btr-content a:hover {
  color: #ffffff;
  background-color: #ff8600;
}

/* -------------------------- Responsive Style -------------------------- */

@media (max-width: 1440px) {
  .about-btr-cards {
    width: 95%;
  }
}

@media (max-width: 1024px) {
  .about-btr-cards {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .about-btr-heading {
    font-size: 32px;
  }

  .about-btr-cards {
    flex-wrap: wrap-reverse;
  }

  .about-btr-image {
    width: 100%;
  }

  .about-btr-content {
    width: 100%;
    padding: 2rem 1rem;
  }

  .about-btr-content h2 {
    font-size: 20px;
  }

  .about-btr-content p {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .about-btr-heading {
    font-size: 24px;
  }
}
